In [1]:
#installing kafka
! pip install kafka-python

In [1]:
#import pacakges
import pandas as pd
from kafka import KafkaProducer # importing Producer and Consumer function
from time import sleep
from json import dumps
import json

In [2]:
#creating object for kafka producer
producer = KafkaProducer(bootstrap_servers=[':9092'],#add public ip before :9092 from aws ec2 instance to connect to kafka server from local machine and send data
                         api_version=(0,11,5),value_serializer=lambda x:dumps(x).encode('utf-8'))

In [3]:
producer

In [4]:
#sending data to ec2 server from our local machine
producer.send('demo_test',value={'hello':'test'})

In [5]:
df = pd.read_csv(r"add path where file is stored\indexProcessed.csv")

In [6]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [ ]:
while True:
#will give 1 random row and convert to dictionary type format
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send("demo_test",value=dict_stock)
    sleep(1)

In [37]:
#if you want remove all the data, write the code below (it will empty the entire buffer and you can send the data again)
producer.flush()